doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Hobby
        link(rel="stylesheet" href="style.css")
        link(rel="shortcut icon" href="favicon.png" type="image/x-icon")
    body
        .container
            main.main
                header.header
                    img.header__decoration-flower(src="./src/img/decoration-flower.png" alt="")
                    .header__logo
                        img.logo-img(src="./src/img/favicon.png" alt="")
                        .logo-text Hobby

                    ul.nav
                        li.nav__item
                            a.nav__link Home
                        li.nav__item
                            a.nav__link About Us
                        li.nav__item
                            a.nav__link Service
                        li.nav__item
                            a.nav__link Contact

                        button.header__button Login

                section.hero
                    h1.hero__title Make a 
                        span Beautiful Garden
                        |  with Your own Hand
                    p.hero__description There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form.
                    button.hero__button Shop Now
                        img.button-img(src="./src/img/hero-button-arrow.png" alt="")
                        img.hero__decoration-arrow(src="./src/img/decoration-arrow.png" alt="")

                    img.hero__img(src="./src/img/hero-img.png" alt="")
                    img.hero__decoration-cactus(src="./src/img/decoration-cactus.png" alt="")

                section.section-box    
                    .group-text 
                        img.group-text__photo-palma(src="./src/img/palma.png", alt="")
                        .group-text__df-text-palma
                            h1.section-box__big-black-text We Give Awesome Landscape Service.
                            p.section-box__paragraph-text It is a long established fact that a reader will be distracted by the thing.
                    .group-text-complete 
                        h1.section-box__numbers 25+
                        p.section-box__down-numbers Complete Project Per Month
                    .group-text-complete 
                        h1.section-box__numbers 10+
                        p.section-box__down-numbers Years Practical Experience.
                    .group-text-complete 
                        h1.section-box__numbers 60+
                        p.section-box__down-numbers Awesome Team Members.  

                section.profesional-garden
                    .df-photo
                        img.profesional-garden__photo-garden(src="./src/img/photo-profisional.png", alt="")
                    .df-text
                        h1.profesional-garden__big-green-text We Are Professional Gardener!
                        p.profesional-garden__paragraph-text Morbi magna metus, scelerisque at risus a, tristique laoreet orci. Duis posuere eros vel dui pulvinar, pulvinar molestie erat iaculis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia.
                        .df-button     
                            button.profesional-garden__read-more Read More
                                img.read-more__photo-button(src="./src/img/button-green.png", alt="")
                            img.profesional-garden__img-button(src="./src/img/Group.png", alt="")

            section.survey-form
                h1.survey-form__title Ready to bring idea for your garden?
                p.survey-form__text I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete explanation.
                form.form(action="")
                    input.form__input(type="text" placeholder="Enter your email...")
                    button.form__buttons Subscribe

            footer.footer 
                section.hobby 
                    .hobby__hobby-name 
                        img.hobby__hobby-icon(src="/src/img/hobby-icon.png", alt="")
                        h3.hobby__hobby-title Hobby
                    p.hobby__hobby-text There are many variations of pass is ages of Lorem  available, but the majority have suffered alteration in  injected humour.
                    .hobby__hobby-links 
                        a.hobby__hobby-link(href="")
                            img.hobby__hobby-link-img1(src="src/img/facebook.svg", alt="")
                        a.hobby__hobby-link(href="")
                            img.hobby__hobby-link-img(src="src/img/twitter.svg", alt="")
                        a.hobby__hobby-link(href="")
                            img.hobby__hobby-link-img(src="src/img/pinterest.svg", alt="")
                        a.hobby__hobby-link(href="")
                            img.hobby__hobby-link-img(src="src/img/in.svg", alt="")
                section.company 
                    h3.company__title Company
                    ul.company__items
                        li.company__type
                            a.company__link(href="") About
                        li.company__type
                            a.company__link(href="") History
                        li.company__type
                            a.company__link(href="") Vision & Mission
                        li.company__type
                            a.company__link(href="") Career
                        li.company__type
                            a.company__link(href="") Legal Notice
                        li.company__type
                                a.company__link(href="") Blog & News
                section.support 
                    h3.support__title Support
                        ul.support__items
                            li.support__type
                                a.support__link(href="") Contact
                            li.support__type
                                a.support__link(href="") FAQ
                            li.support__type
                                a.support__link(href="") Help Center
                            li.support__type
                                a.support__link(href="") Privacy Policy
                            li.support__type
                                a.support__link(href="") Term & Service
                            li.support__type
                                a.support__link(href="") Community
                section.contact 
                    h3.contact__title Contact
                    p.contact__text Mirabazar-Subhanighat Rd, Sylhet-Bangladesh
                    h5.contact__email-title Email Us
                    p.contact__email-text useremail@gmail.com
                    h5.contact__telephone-title Call Us
                    a.contact__telephone-num(href="tel:+6221.2002.2012") +6221.2002.2012
                section.plants 
                    img.plants__footer-line(src="src/img/footer-line.png", alt="")
                    img.plants__plant1(src="src/img/plant1.png", alt="")
                    img.plants__plant2(src="src/img/plant2.png", alt="")
                    img.plants__plant3(src="src/img/plant3.png", alt="")
                    img.plants__plant4(src="src/img/plant4.png", alt="")
                    img.plants__plant5(src="src/img/plant5.png", alt="")
